*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #eee;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
header h1{
    font-size: 3.5rem;
    color: rgb(29, 18, 78);
    line-height: 2;
}
header form{
    display: flex;
    flex-direction: column;
    width: 40rem;
}
form>*{
    margin-bottom: 4px;
    outline: none;
    font-size: 1.4rem;
    padding: 7px;
    border: 1px solid #777;
    border-radius: 3px;
}
form textarea{
    padding: 7px 0 40px 5px;
}
::placeholder{
    font-size: 1.3rem;
}
form button {
    background-color: rgb(7, 105, 89);
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .3;
}
form button:hover{
    background-color: rgb(29, 18, 78);
}
.container-det,.out-container{
    max-width: 100%;
    padding: 0 20px;
    margin-top: 70px;
}
.notes{
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    margin: 1rem 0;
}
/* .container-det .notes #note{
    margin-top: 100px;
} */
.note-counter, .note-text{
    font-size: 1.1rem;
}
.note-title{
    font-size: 1.6rem;
}
.note-btn{
    padding: 7px;
    margin-top: 5px;
    background-color: orangered;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.edit-btn{
    background-color: rgb(29, 18, 78);
}